modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 45155646
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm run dev"

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true
